extends layout

block content
  header.analyst-title
    h2.middle-title SERLER
  div
    div.login-title LOGIN
    div.login-input
      p
        span.input-title Username:
        input#inputUserName(type="text", placeholder="username or email", name="username")
      a.fotgot-pwd Forgot password?
      p
        span.input-title Password:
        input#inputUserPassword(type="password", placeholder="password", name="userpassword")
        span.input-container new to here？
          a(href="http://localhost:3000/register") Create an account .
      button.login-btn#btnSubmit Login
  script(src='/js/login.js')
