doctype html
html
  head
    title SERLER
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/axios.js')
  body.iframe-body
    block content
    div.analyst-title-info
      p Release News
    div.news-container
      form(method="post",action="/pushNews")
        textarea.news-input(name="content")
        div(style="margin-top:30px")
          button.sure-btn(type="submit") Push
