extends layout

block content
  header.analyst-title
    h2.middle-title SERLER
  div
    div.register-title Register
    div.register-input
      p
        span Username:
        input#inputUserName(type="text", placeholder="username", name="username")
      p
        span Email:
        input#inputUserEmail(type="text", placeholder="useremail", name="useremail")
      p
        span Password:
        input#inputUserPassword(type="password", placeholder="password", name="userpassword")
      div.authority-title Who are you
        div
          input.selectAuthority#authUser(type="radio" name="authority" value="0" checked=true)
          label(for="authUser") User
        div
          input.selectAuthority#authAnalyst(type="radio" name="authority" value="1")
          label(for="authAnalyst") Analyst
        div
          input.selectAuthority#authAdmin(type="radio" name="authority" value="2")
          label(for="authAdmin") Administrator

    div.register-btn
      button.sure-btn#btnSubmit(type="submit") Create an account
  script(src='/js/register.js')
