doctype html
html
  head
    title SERLER
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/axios.js')
  body
    block content
      div.analyst-title-info
        p Upload Article
      div.uploadArticle-input
        form#uploadForm(method="post",action="/submitUploadArticle")
          input#idHidden(type="hidden", name="userId")
          p
            span Author:
            input#inputAuthor(type="text", placeholder="Author", name="author")
          p
            span Title:
            input#inputTitle(type="text", placeholder="Title", name="title")
          p
            span Journal:
            input#inputJournal(type="text", placeholder="Journal", name="journal")
          p
            span Year:
            input#inputYear(type="text", placeholder="Year", name="year")
          p
            span Volume:
            input#inputVolume(type="text", placeholder="Volume", name="volume")
          p
            span Number:
            input#inputNumber(type="text", placeholder="Number", name="number")
          p
            span Pages:
            input#inputPages(type="text", placeholder="Pages", name="pages")
          p#rater
            span Month:
            input#inputMonth(type="text", placeholder="Month", name="month")
          div.uploadArticle-star
            i.star ☆
            i.star ☆
            i.star ☆
            i.star ☆
            i.star ☆
            input#inputRater(type="hidden", name="rater")
          div.uploadArticle-btn
            button#uploadArticleSubmit(type="submit") Enter
        script(src='/js/uploadArticle.js')
